@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.text {
    font-size: 30px;
}

.val {
    position: fixed;
    bottom: 20px;
    background: rgba(0, 0, 0, .1);
    padding: 10px 20px;
    font-size: 18px;
}


input {
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: darksalmon;
    border: 0;
    text-align: center;
}

input:focus {
    outline: none;
}