@import url('https://fonts.cdnfonts.com/css/-58');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Atomic Love', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h2 {
    margin: 40px 0;
    font-size: 40px;
    letter-spacing: 3px;
}

.container {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

img:hover {
    opacity: .9;
}


.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay.active {
    visibility: visible;
}