@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    box-sizing: border-box;
}

body {
    background-color:rgb(237, 236, 231);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h2 {
    font-size: 12rem;
    font-weight: 600;
    color: darkorchid;
    letter-spacing: .5rem;
    opacity: .5;
    margin: 1rem 0 5rem;
}

form {
    width: 400px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

input {
    width: 100%;
    padding: 15px 12px;
    font-size: 28px;
    border: none;
    border-radius: 5px;
    color: #494949;
}

input:focus {
    outline: none;
    border: 2px solid rgba(153, 50, 204, 0.5);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    background-color: #fff;
    padding: 12px 9px;
    margin: 3px 0 0;
    border-radius: 5px;
    font-size: 21px;
    color: #494949;
    font-weight: 400;;
}

ul li.done {
    text-decoration: line-through;
    color: #7c7c7c;
}

p {
    text-align: center;
    margin-top: 4rem;
    font-size: 18px;
    color: #494949;
}