@import url('https://fonts.cdnfonts.com/css/heebo');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #111;
    --secondary-color: blanchedalmond;
}

html.dark {
    --primary-color: blanchedalmond;
    --secondary-color: #111;
}

body {
    font-family: 'Heebo', sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    transition: all .5s ease;
}

button {
    position: absolute;
    top: 20px;
    border: 0;
    border-radius: 3px;
    background-color: inherit;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 5px 10px;
    cursor: pointer;
}

.clock-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.time {
    font-size: 60px;
    letter-spacing: 1px;
}

.date {
    text-transform: uppercase;
    letter-spacing: 1px;
}