@import url('https://fonts.cdnfonts.com/css/muli');

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    background-color: #eafbff;
    background-image: linear-gradient(to bottom, #eafbff 0%, #eafbff 50%, #5290f9 50%, #5290f9 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

nav {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    border-radius: 3px;
    transition: width .6s linear;
}

nav.active {
    width: 350px;
}

nav ul {
    display: flex;
    list-style-type: none;
    transition: width .6s linear;
    width: 0;
    padding: 0;
}

nav.active ul {
    width: 100%;
}

nav ul li {
    transform: rotateY(0);
    transition: transform .6s linear, opacity .6s linear;
    opacity: 0;
}

nav.active ul li {
    transform: rotateY(360deg);
    opacity: 1;
}

nav ul a {
    position: relative;
    margin: 0 10px;
    color: #111;
}

.icon {
    width: 30px;
    height: 30px;
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.icon:focus {
    outline: 0;
}

.icon .line {
    width: 20px;
    height: 2px;
    background-color:#5290f9;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform .6s linear
}

.icon .line2 {
    top: auto;
    bottom: 10px
}

nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
}