@import url('https://fonts.googleapis.com/css2?family=Poppins:wgth@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(181, 70, 300);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    padding: 1.5rem 3rem;
    margin: 1.5rem;
    background-color: rebeccapurple;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.btn:active {
    transform: scale(.98);
}

.btn:focus {
    outline: none;
}